* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #23972a;
  color: rgb(240, 234, 234);
  font-size: 18px;
  padding: 0 30px;
  overflow: hidden;
}

/* Logo styling */
.logo {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Navbar list styling */
.navbar > .navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 60px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* Navbar link styling */
.navLink {
  text-decoration: none;
  color: rgb(245, 238, 238);
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.navLink:hover {
  color: #080808;
}

/* Container for login and register links */
.authContainer {
  display: flex;
  gap: 15px;
  align-items: center;
}

.authContainer > .login {
  text-decoration: none;
  color: rgb(2, 2, 2);
  background-color: rgb(226, 233, 224);
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 15px;
}

.authContainer > .register {
  text-decoration: none;
  color: rgb(2, 2, 2);
  background-color: rgb(226, 233, 224);
  padding: 6px;
  border-radius: 5px;
  font-size: 15px;
}
